name: Lint

on: pull_request

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Trunk Check
        uses: trunk-io/trunk-action@v1
      - name: Set up Terraform CLI
        uses: hashicorp/setup-terraform@v3
      - run: terraform fmt -check -recursive
